<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular(SPA)</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/sass/main.css">
	<link rel="stylesheet" href="css/normalize.css">
</head>
<body ng-controller='DataController as data'>

							<!-- Top section -->
  		<div class="row">
	      <div class="col-lg-12"><img src="../app/img/AngularJS.svg" class="img-responsive"></div>
	      <p class="text-center">поиск и сортировка данных</p>
  		</div>

							<!--Input and buttons-->
  		<div class="container-fluid" >
			<div class="row-fluid">
				<input class="col-md-12 col-xs-12" type="text" placeholder="Search people by name..." ng-model='data.text' ng-pattern='data.regexp'>

				<div class="buttons">
					<button ng-click='data.sort("name")' class="btn btn-sort">Sort by name</button>
					
					<button ng-click='data.sort("age")' class="btn btn-sort">Sort by age</button>

					<button ng-click='data.reset()' class="btn btn-danger">Reset</button>
				</div>
			</div>

							<!--Sidebar-->
			<div class="sidebar col-xs-12 col-md-4 col-sm-4">
 
				<img ng-src="{{data.students.img}}">
				<h4 class="text-center">{{data.students.name}}</h4>

				<h4 class="text-center">{{sideName}}</h4>
 
				<table class="table">
					<tbody>
						<tr>
							<td>Age:</td>
 							<td>{{data.students.age}}</td>
						</tr>
						<tr>
							<td>Favorite Animal</td>
							<td>{{data.students.img | favAnimal}}</td>
						</tr>
						<tr>
							<td>Phone</td>
							<td>{{data.students.phone}}</td>
						</tr>
					</tbody>
				</table>
			</div>

							<!--Main content-->
			<div class="main-table col-sm-8  col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
				<table class="table table-hover">
				    <thead>
				      <tr>
				        <th class="text-center">Image</th>
				        <th>Name</th>
				        <th>Age</th>
				        <th>Phone</th>
				      </tr>
				    </thead>
 
				    <tbody ng-repeat='student in data.students | orderBy: data.orderType:data.orderReverse | filter:data.text' >
				      <tr ng-click='data.sidebarActive(student.img, student.name, student.age, student.phone)'>
 
				        <td><img ng-src='{{student.img}}'></td>
				        <td>{{student.name}}</td>
				        <td>{{student.age}}</td>
				        <td>{{student.phone}}</td>
				      </tr>
				    </tbody>
				</table>
		    </div>
		</div>
</body>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js'></script>
	<script src='js/script.js'></script>
	<script src='js/jquery.js'></script>
	<script src='js/bootstrap.js'></script>
	
</html>